<div class=" container">
  <span class="h1">
    Bienvenue sur le site du pelat
  </span>
  <br><br><br><br>

  <div class="row">
    <div class="p-3 m-1 col-lg-3 col-sm-6">
      <h3>
        <strong>
          <i class="fa-solid fa-beer-mug-empty fa-xs"></i>&nbsp;
          Gestion des bieres
        </strong>
      </h3>

      <ul class="ms-4 list-unstyled">
        <li>
          <i class="fa-solid fa-list m-1"></i>
          <a href="/bieres" class="lien">
            <span>Liste des bieres</span>
          </a>
        </li>
        <li>
          <i class="fa-solid fa-plus m-1"></i>

          <a class="lien" href="/bieres/new" >
            <span>Ajouter une biere</span>
          </a>
        </li>
      </ul>

    </div>

    <div class="p-3 m-1 col-lg-4 col-sm-6">
      <h3>
        <strong>
          <i class="fa-solid fa-person fa-xs"></i>&nbsp;
          Gestion des zytologues
        </strong>
      </h3>

      <ul class="ms-4 list-unstyled">
        <li>
          <i class="fa-solid fa-list m-1"></i>
          <a href="/personnes" class="lien">
            <span>Liste des zytologues</span>
          </a>
        </li>
        <li>
          <i class="fa-solid fa-plus m-1"></i>

          <a class="lien" href="/personnes/new" >
            <span>Ajouter une zytologues</span>
          </a>
        </li>
      </ul>

    </div>

    <div class="p-3 m-1 col-lg-4 col-sm-6">
      <h3>
        <strong>
          <i class="fa-solid fa-code fa-xs"></i> &nbsp;
          En développement
        </strong>
      </h3>
      <ul class="ms-4 list-unstyled">
        <li>
          <i class="fa-solid fa-list m-1"></i>
          <a href="/notes" class="lien">
            <span>Liste des notes</span>
          </a>
        </li>
        <li>
          <i class="fa-solid fa-plus m-1"></i>
          <a class="lien " href="/notes/new">
            <span>Ajouter une note</span>
          </a>
        </li>
      </ul>

    </div>
  </div>




</div>
