.table-head {
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.table-head:hover .table-head::after{
  color: black;
}

.table-head::after {
  content: " ▲";
  font-size: 0.8em;
  color: #888;
}


.table-head[data-sort="desc"]::after {
  content: " ▼";

}

.notes {
  width: 3rem;
  padding: 0.2rem;
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 5px;

}

input {
  border-radius: 5px;
  padding: 0.2rem;
  width: 100%;
}

select {
  border-radius: 5px;
  padding: 0.2rem;
  width: 100%;
}


