<app-bouton-retour></app-bouton-retour>

<div class="card">
  <div class="card-header ">
    <h5 class="card-title">

      Liste des bières
      <div class="float-end">
        <a routerLink="/bieres/new" class="btn btn-primary btn-sm">
          <i class="fa-solid fa-plus"></i> <span class=""> Ajouter</span>
        </a>
      </div>
    </h5>
    <hr>
    Recherche <br>
    <form class="row">
      <div class="col-lg-2 col-sm-2">
        <label for="search">Nom</label>
        <input type="text" name="search" id="search" [(ngModel)]="searchCriteria.nom" (input)="filterTable()">
      </div>
      <div class="col-lg-2 col-sm-2">
        <label for="type">Type</label>
        <select name="type" id="type" [(ngModel)]="searchCriteria.type" (change)="filterTable()">
          <option value="">- Tous - </option>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>
      <div class="col-lg-2 col-sm-2">
        <label for="note">Note</label>
        &nbsp;
        <input type="number" name="note" id="note" max="10" min="0" [(ngModel)]="searchCriteria.note"
          (input)="filterTable()">
      </div>
    </form>
    <hr>
  </div>
</div>

<div class="card">

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="table-head" (click)="sortTable('nom')"
            [attr.data-sort]="sortColumn === 'nom' ? sortDirection : ''">Nom</th>
          <th scope="col" class="table-head" (click)="sortTable('type')"
            [attr.data-sort]="sortColumn === 'type' ? sortDirection : ''">Type</th>
          <th scope="col" class="table-head d-none d-lg-table-cell" (click)="sortTable('alcool')"
            [attr.data-sort]="sortColumn === 'alcool' ? sortDirection : ''">Alcool</th>
          <th scope="col" class="table-head d-lg-none" (click)="sortTable('alcool')"
            [attr.data-sort]="sortColumn === 'alcool' ? sortDirection : ''">Alc</th>
          <th scope="col" class="table-head" (click)="sortTable('note')"
            [attr.data-sort]="sortColumn === 'note' ? sortDirection : ''">Note</th>
          <th scope="col" class="table-head d-none d-lg-table-cell" (click)="sortTable('nb_notes')"
            [attr.data-sort]="sortColumn === 'nb_notes' ? sortDirection : ''">Avis</th>
        </tr>
      </thead>
      <tr *ngIf="etatLoad == Etatload.LOADING">
        <td colspan="5" class="text-center align-middle">
          <br>
          Chargement
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </td>
      </tr>
      <tbody *ngIf="etatLoad == Etatload.SUCCESS">
        <tr *ngIf="bieres.length == 0">
          <td colspan="5" class="text-center align-middle">
            <br>
                Aucune biere pour le moment
            <br>
            <br>
            <button class="btn btn-primary btn-sm" routerLink="/bieres/new">
              <i class="fa-solid fa-plus "></i> Créer une nouvelle
            </button>
          </td>
        </tr>
        <tr *ngFor="let biere of bieres" [routerLink]="['/bieres', biere.id]" class="pointer slide">
          <td>{{ biere.nom }}</td>
          <td>{{ biere.type }}</td>
          <td *ngIf="biere.alcool!=null">{{ biere.alcool }}% </td>
          <td *ngIf="biere.alcool==null">Nan</td>

          <td>
            <div class="" [ngClass]="{
              'bg-success': biere.note === 10,
              'bg-info': biere.note >= 5 && biere.note < 10,
              'bg-warning': biere.note >= 3 && biere.note < 5,
              'bg-danger': biere.note < 3
            }" class="notes">
              {{ biere.note < 10 ? '0' + biere.note : biere.note }} </div>
          </td>
          <td class="d-none d-lg-table-cell" >{{ biere.nb_notes }}</td>

        </tr>
      </tbody>
      <tr *ngIf="etatLoad == Etatload.ERREUR">
        <td colspan="5" class="text-center align-middle">
          <br>
          Erreur de chargement des données
          <br>
          <br>
          <button class="btn btn-primary btn-sm" (click)="reloadPage()">
            <i class="fa-solid fa-rotate"></i> Réessayer
          </button>
        </td>
    </table>

  </div>
</div>
