<app-bouton-retour></app-bouton-retour>

<div class="card">
  <h5 class="card-header bg-info fw-bolder">
    {{biere.nom}}
    <div class="float-end"><a (click)="editer()" class="pen btn btn-sm">
        <i class="fa-solid fa-pen"></i> Editer
      </a>
      <a (click)="onDelete()" class="trash btn btn-sm">
        <i class="fa-solid fa-trash"></i> Supprimer
      </a>
    </div>
  </h5>
</div>

<div class="container card">

  <!-- decription de la biere -->
  <div class="card-body indent">
    <div class="row">
      <div class="w-25 h-25 col-lg-3 col-sm-6">
        <img src="{{biere.imgUrl}}" alt="Image biere">
      </div>
      <div class="col-lg-3 col-sm-6">
        Type : {{biere.type}}
        <br>
        Alcool : {{biere.alcool}} %
        <br>
        <br>
        Code barre (EAN) : {{biere.ean || "Aucun code"}}

      </div>

      <div class="col-lg-3 col-sm-6">
        Note globale : {{biere.note}}
        <br>
        Nombre de notes : {{biere.nb_notes}}
      </div>
      <div class="col-lg-4 col-sm-6">
        <br>

      </div>

    </div>
  </div>


</div>
<br>
<div class="card">
  <div class="card-header bg-info ">
    <i class="fa-solid fa-plus"></i>
    Ajouter une note
  </div>
  <div class="card-body">
    <form class="row " (ngSubmit)="onAddNote()">
      <div class="col-lg-1 col-sm-1">
        <label for="note">Note</label>
        <input type="number" [(ngModel)]="newNotes.note" name="note" id="note" max="10" min="0" required>
      </div>
      <div class="col-lg-4 col-sm-7">
        <label for="commentaire">Commentaire</label>
        <input type="text" [(ngModel)]="newNotes.commentaire" name="commentaire" id="commentaire" required>
      </div>
      <div class="col-lg-2 col-sm-2 ">
        <label for="date">Date</label>
        <input type="date" [(ngModel)]="this.newNotes.date" name="date" id="date" required>
      </div>
      <div class="col-lg-2 col-sm-2 ">
        <label for="auteur">Auteur</label>
        <ng-select *ngIf="users.length > 0" [items]="users" bindLabel="surnom" bindValue="id"
          placeholder="Chercher une personne" [searchable]="true" (change)="onPersonneChange($event.id)">
        </ng-select>
        <span class="form-text" *ngIf="users.length === 0"><br>Aucun créer...</span>
      </div>
      <div class="col-lg-2 col-sm-2">
        <br>
        <button type="submit" class="btn btn-info p-1 border border-info ajout">
          Ajouter <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<br>


<!-- liste des notes -->
<div class="card">
  <div class="card-header bg-info ">
    <i class="fa-solid fa-list"></i>
    Liste des notes
  </div>

  <div class="card-body indent">

    <table *ngIf="notes.length > 0" class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="table-head" (click)="sortTable('note')"
            [attr.data-sort]="sortColumn === 'note' ? sortDirection : ''">Note</th>
          <th scope="col" class="table-head" [attr.data-sort]="sortColumn === 'commentaire' ? sortDirection : ''">
            Commentaire</th>
          <th scope="col" class="table-head" (click)="sortTable('date')"
            [attr.data-sort]="sortColumn === 'date' ? sortDirection : ''">Date</th>
          <th scope="col" class="table-head">Auteur</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes" class="slide">
          <td>{{ note.note }}</td>
          <td>{{ note.commentaire }}</td>
          <td>{{ note.date }}</td>
          <td>{{ usersById[note.userId].surnom }}</td>
        </tr>
      </tbody>
    </table>
    <span *ngIf="notes.length <= 0">Aucune note pour cette biere </span>

  </div>

</div>
