<div class="row pizza ">
  <div class="col-9 ">
    <span class="h4 pizza_name">
      {{pizza.name}}
    </span>
    <br>
    <span class="h6">
      {{pizza.description}}

    </span>
  </div>
  <div class="col-3   row h6">
    <div class="col-lg-6 col-sm-12">
      <span class="text-info">Petite</span>
       <br>
      {{pizza.small_price}}€
    </div>
    <div class="col-lg-6 col-sm-12">
      <span class="text-info">Grande</span>
      <br>
      {{pizza.large_price}}€
    </div>

  </div>
</div>
<br>
