.page-not-found {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    transform: translate(-50%);
    margin-left: 50%;

    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.504);
    padding: 5%;
    width: fit-content;
}