<br />
<a routerLink="/admin/pizzas"><i class="fa-solid fa-angles-left"></i> retour</a><br />
<br />

<div class="card border-info mb-3">

    <figure class="text-center" *ngIf="etatLoad == etatLoading.LOADING">
        <br><br>
        <blockquote class="blockquote">
            <p class="mb-0"><i class="fa-solid fa-spinner fa-spin-pulse fa-2xl"></i></p>

        </blockquote><br>
        <figcaption class="blockquote-footer">
            loading <cite title="Source Title">pizza</cite>
        </figcaption>
    </figure>

    <figure class="text-center" *ngIf="etatLoad == etatLoading.ERREUR">
      <br><br>
      <blockquote class="blockquote">
          <p class="mb-0"><i class="fa-solid fa-triangle-exclamation fa-beat-fade" style="color: #f3c41b;"></i> ERREUR <i class="fa-solid fa-triangle-exclamation fa-beat-fade" style="color: #f3c41b;"></i></p>

      </blockquote><br>
      <figcaption class="blockquote-footer">
          Impossible de charger la <cite title="Source Title">page</cite>, veuillez réssayer ultérieurement
      </figcaption>
  </figure>


    <div *ngIf="etatLoad == etatLoading.SUCCESS">
        <div class="card-header">
            <span *ngIf="pizza.id != 0">Pizza créer le ... </span>
            <span *ngIf="pizza.id == 0">Nouvelle pizza </span>
        </div>
        <div class="card-body">

            <form #formulaire="ngForm" (ngSubmit)="onSubmit(formulaire)">
                <div class="form-group">
                  <label for="nom">Nom</label>
                  <input
                    ngModel
                    [(ngModel)]="pizza.name"
                    type="text"
                    name="nom"
                    id="nom"
                    class="form-control"
                    maxlength="50"
                    minlength="3"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="memo">Description</label>
                  <textarea
                    ngModel
                    [(ngModel)]="pizza.description"
                    name="memo"
                    id="memo"
                    cols="30"
                    rows="3"
                    class="form-control"
                    maxlength="256"
                  ></textarea>
                </div>

                <div class="form-group">
                  <label for="sm_price">Prix petite</label>
                  <input type="number"
                    ngModel
                    [(ngModel)]="pizza.small_price"
                    name="sm_price"
                    id="sm_price"
                    min="0"
                    max="50"
                    maxlength="3"
                    class="form-control"
                  >
                </div>

                <div class="form-group">
                  <label for="lg_price">Prix grande</label>
                  <input type="number"
                    ngModel
                    [(ngModel)]="pizza.large_price"
                    name="lg_price"
                    id="lg_price"
                    min="0"
                    max="50"
                    class="form-control"
                  >
                </div>


                <br>
                <div class="d-flex btn-group mt-2">
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="formulaire.invalid"
                    *ngIf="pizza.id == 0"
                  >
                    Créer
                  </button>
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="formulaire.invalid"
                    *ngIf="pizza.id != 0"
                  >
                    Modifer
                  </button>
                  <a routerLink="admin/pizzas" queryParamsHandling="preserve" class="btn btn-info">Annuler</a>
                </div>
                <div class="d-flex btn-group mt-2">
                  <a
                    class="btn btn-outline-danger"
                    *ngIf="pizza.id != 0" (click)="Onsupprimer()"
                  >
                    Supprimer
                </a>
                </div>

              </form>



        </div>

    </div>
</div>
