<app-bouton-retour></app-bouton-retour>

<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      <span *ngIf="editing">Edition de la bière</span>
      <span *ngIf="!editing">Création de la bière</span>
      <div class="float-end btn-group">
        &nbsp;&nbsp;
        <button
          *ngIf="editing"
          class="btn btn-success btn-sm"
          (click)="onUpdate()"
        >
          <i
            *ngIf="etatAction != Etatload.LOADING"
            class="fa-solid fa-floppy-disk"
          ></i>
          <i
            *ngIf="etatAction == Etatload.LOADING"
            class="fa-solid fa-spinner fa-spin-pulse"
          ></i>
          <span class="d-none d-sm-inline"> Enregistrer</span>
        </button>
        <button
          *ngIf="!editing"
          class="btn btn-success btn-sm"
          (click)="onAdd()"
        >
          <i
            *ngIf="etatAction != Etatload.LOADING"
            class="fa-solid fa-floppy-disk"
          ></i>
          <i
            *ngIf="etatAction == Etatload.LOADING"
            class="fa-solid fa-spinner fa-spin-pulse"
          ></i>
          <span class="d-none d-sm-inline"> Créer</span>
        </button>
      </div>
    </h5>
  </div>

  <div class="card">
    <div class="card-body">
      <h6 class="text-secondary-emphasis fw-bolder">
        Scanner le Code barre <span class="text-warning">(en test)</span>
      </h6>
      <div
        class="row g-3 w-100 align-content-center d-flex justify-content-center"
      >
        <div id="scanButton" class="w-100 h-100"></div>
        <button class="btn btn-outline-success w-auto mt-2" (click)="onScan()">
          {{ isCameraOpen ? "Fermer la caméra" : "Scanner le code-barres" }}
          &nbsp;
          <i
            class="fa-solid"
            [ngClass]="isCameraOpen ? 'fa-times' : 'fa-camera'"
          ></i>
        </button>
      </div>
    </div>

    <br />
    <div class="ml-4 container text-secondary-emphasis small text-center">
      <a
        class="btn btn-info border"
        style="border-radius: 15px"
        (click)="getInformationsByEAN()"
        >Charger les données via EAN</a
      >

      <br /><br />
      <span
        >Code scanner : <i> {{ biere.ean || "aucun" }}</i>
      </span>
    </div>
    <br />

    <div class="card-body">
      <h6 class="text-secondary-emphasis fw-bolder">Formulaire</h6>

      <!-- <form [formGroup]="biereForm" (ngSubmit)="onSubmit()"> -->
      <div class="row g-3 m-2">
        <div class="mb-3 col-lg-4 col-sm-12">
          <label for="nom" class="form-label">Nom</label>
          <input
            type="text"
            id="nom"
            [(ngModel)]="biere.nom"
            [value]="biere.nom"
            class="form-control p-1"
            placeholder="Nom..."
          />
        </div>
        <div class="mb-3 col-lg-4 col-sm-12">
          <label for="type" class="form-label">Type</label>
          <select id="type" [(ngModel)]="biere.type" class="form-select p-1">
            <option *ngFor="let type of types" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
        <div class="mb-3 col-lg-4 col-sm-12">
          <label for="nom" class="form-label">Alcool</label>
          <input
            type="number"
            id="nom"
            [(ngModel)]="biere.alcool"
            placeholder="Taux d'alcool"
            class="form-control p-1"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- liste des notes -->
<div class="card" *ngIf="editing">
  <div class="card-header bg-info">
    <i class="fa-solid fa-list"></i>
    Liste des notes
  </div>

  <div class="card-body ">
    <table *ngIf="notes.length > 0" class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="table-head">Note</th>
          <th scope="col" class="table-head">Commentaire</th>
          <th scope="col" class="table-head">Date</th>
          <th scope="col" class="table-head">Auteur</th>
          <th scope="col" class="table-head"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes" class="slide">
          <td>{{ note.note }}</td>
          <td>{{ note.commentaire }}</td>
          <td>{{ note.date }}</td>
          <td>{{ usersById[note.userId].surnom }}</td>
          <td>
            <span
              class="fa-solid fa-minus suppr"
              (click)="deleteNote(note.id)"
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
    <span *ngIf="notes.length <= 0">Aucune note pour cette biere </span>
  </div>
</div>
