<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      <span *ngIf="editing">Edition de la bière</span>
      <span *ngIf="!editing">Création de la bière</span>
      <div class="float-end btn-group">
        <a routerLink="/bieres" class="btn btn-primary btn-sm">
          <i class="fa-solid fa-arrow-left"></i> <span class="d-none d-sm-inline"> Retour</span>
        </a>
        &nbsp;&nbsp;
        <button *ngIf="editing" class="btn btn-success btn-sm" (click)="onUpdate()">
          <i class="fa-solid fa-floppy-disk"></i> <span class="d-none d-sm-inline"> Enregistrer</span>
        </button>
        <button *ngIf="!editing" class="btn btn-success btn-sm" (click)="onAdd()">
          <i class="fa-solid fa-floppy-disk"></i> <span class="d-none d-sm-inline"> Enregistrer</span>
        </button>
      </div>
    </h5>
  </div>

  <div class="card">

    <div class="card-body">
      <h6 class="text-secondary-emphasis fw-bolder"> Scanner le Code barre </h6>
      <div class="row g-3 w-100 align-content-center d-flex justify-content-center">
        <div id="scanButton" class="w-100 h-100"></div>
        <button class="btn btn-outline-success w-auto mt-2" (click)="onScan()">
          {{ isCameraOpen ? 'Fermer la caméra' : 'Scanner le code-barres' }} &nbsp;
          <i class="fa-solid" [ngClass]="isCameraOpen ? 'fa-times' : 'fa-camera'"></i>
        </button>

      </div>
    </div>

    <br><br>

    <h6>Code scanner :  {{codeBarre}} </h6>




    <div class="card-body">
      <h6 class="text-secondary-emphasis fw-bolder"> Formulaire </h6>

      <!-- <form [formGroup]="biereForm" (ngSubmit)="onSubmit()"> -->
      <div class="row g-3 m-2">
        <div class="mb-3 col-lg-4 col-sm-12">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" id="nom" [(ngModel)]="biere.nom" [value]="biere.nom" class="form-control p-1"
            placeholder="Nom...">
        </div>
        <div class="mb-3 col-lg-4 col-sm-12">
          <label for="type" class="form-label">Type</label>
          <select id="type" [(ngModel)]="biere.type" class="form-select p-1">
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="mb-3 col-lg-4 col-sm-12">
          <label for="nom" class="form-label">Alcool</label>
          <input type="number" id="nom" [(ngModel)]="biere.alcool" placeholder="Taux d'alcool" class="form-control p-1">
        </div>
      </div>
    </div>
  </div>
