<app-bouton-retour></app-bouton-retour>

<div class="card">
  <div class="card-header ">
    <h5 class="card-title">

      Liste des zytologues
      <div class="float-end">
        <a routerLink="/personnes/new" class="btn btn-primary btn-sm">
          <i class="fa-solid fa-plus"></i> <span class=""> Ajouter</span>
        </a>
      </div>
    </h5>
    <!-- <hr>
    Recherche <br>
    <form class="row">
      <div class="col-lg-2 col-sm-2">

        <label for="search">Nom</label>
        <input type="text" name="search"  id="search" [(ngModel)]="searchCriteria.surnom" (input)="filterTable()">
      </div>
    </form>
    <hr> -->
  </div>
</div>

<div class="card">

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col-lg-1 col-sm-2" class="table-head">Action</th>

          <th scope="col" class="table-head" (click)="sortTable('surnom')"
            [attr.data-sort]="sortColumn === 'surnom' ? sortDirection : ''">Nom</th>
            <!-- <th scope="col" class="table-head">Nom</th> -->

        </tr>
      </thead>

      <tr *ngIf="etatLoad == Etatload.LOADING">
        <td colspan="5" class="text-center align-middle">
          <br>
          Chargement
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </td>
      </tr>
      <tbody *ngIf="etatLoad == Etatload.SUCCESS">
        <tr *ngIf="utilisateurs.length == 0">
          <td colspan="5" class="text-center align-middle">
            <br>
                Aucun utilisateur pour le moment
            <br>
            <br>
            <button class="btn btn-primary btn-sm" routerLink="/personnes/new">
              <i class="fa-solid fa-plus"></i> Créer un nouveau
            </button>
          </td>
        </tr>
        <tr *ngFor="let utilisateur of utilisateurs"  class="slide">
          <td [routerLink]="['/personnes', utilisateur.id]" class="pointer col-lg-1 col-sm-2">Modifier </td>
          <td>{{ utilisateur.surnom }}</td>
        </tr>
      </tbody>
      <tr *ngIf="etatLoad == Etatload.ERREUR">
        <td colspan="5" class="text-center align-middle">
          <br>
          Erreur de chargement des données
          <br>
          <br>
          <button class="btn btn-primary btn-sm" (click)="reloadPage()">
            <i class="fa-solid fa-rotate"></i> Réessayer
          </button>
        </td>
    </table>

  </div>
</div>
