<div class=" container">
  <h1>
    Centre de données <i class="text-black-50"> - en développement </i>
  </h1>
  <hr>
  <div class="row gap-3">
    <div class="col-auto">
      <b>Mise en ligne : </b> <i>20 / 05 / 2025</i>
    </div>
    <div class="col-auto">
      <b>Dernière mise à jour :</b> <i class="text-dark"> 24 / 10 / 2025</i>
    </div>
  </div>
  <br>

  <div class="row gap-3">
    <div class="col-auto">
      <b>Nombre de notes : </b> <i *ngIf="etatLoad == Etatload.LOADING" class="fa-solid fa-ellipsis fa-fade"></i> <i *ngIf="etatLoad == Etatload.SUCCESS">{{ notes.length }}</i>
    </div>
    <div class="col-auto">
      <b>Moyenne globale : </b> <i *ngIf="etatLoad == Etatload.LOADING" class="fa-solid fa-ellipsis fa-fade"></i> <i *ngIf="etatLoad == Etatload.SUCCESS"> {{ moyenneNotes }} </i>
    </div>
    <div class="col-auto">
      <b>Nombre de bières :</b> <i *ngIf="etatLoad == Etatload.LOADING" class="fa-solid fa-ellipsis fa-fade"></i> <i *ngIf="etatLoad == Etatload.SUCCESS"> {{ bieres.length }} </i>
    </div>

  </div>

  <br>

  <!-- liste des dernieres notes  -->
  <div class="card card-info">
    <div class="card-header">
      <div class="card-title">
        Dernieres notes <i class="text-black-50"> - Les 10 plus récentes </i> </div>
    </div>
    <div class="card-body carte-données ">
      <table class="table table-bordered p-2 m-0">
        <tr>
          <th>Note</th>
          <th>Auteur</th>
          <th class="d-none d-lg-table-cell">Commentaire</th>
          <th>Biere</th>
          <th>Date</th>
        </tr>
        <tr *ngIf="etatLoad == Etatload.LOADING">
          <td colspan="6" class="text-center align-middle">
            <br>
            Chargement
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
          </td>
        </tr>
        <ng-container *ngIf="etatLoad == Etatload.SUCCESS">
          <tr *ngFor="let item of notes | slice:0:10 ">
            <td>{{item.note}}</td>
            <td>{{ usersById[item.userId]?.surnom || "Erreur"}}</td>
            <td class="d-none d-lg-table-cell">{{item.commentaire}}</td>
            <td>{{ bieresById[item.biereId]?.nom}}</td>
            <td>{{item.date}}</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
  <br>

  <label for="periode" class="form-label">Définir la période</label>
  <select [(ngModel)]="periodeUser" (change)="rankUsers()" class="periode-select" name="periode" id="periode"
    title="Période" aria-label="Période">

    <option value=""> 2023 - aujourd'hui </option>
    <option value="2025">2025</option>
    <option value="2024">2024</option>
    <option value="2023">2023</option>

  </select>
  <br>

  <!-- classements des bieres -->
  <div class="card card-info">
    <div class="card-header">
      <div class="card-title">
        Classements des bieres
      </div>
    </div>
    <div class="card-body carte-données">
      <table class="table table-bordered p-2 m-0">
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Nb de note</th>
          <th>Moyenne</th>
          <th>Meilleur</th>
          <th>Pire</th>
        </tr>
        <tr *ngIf="etatBeerRanking == Etatload.LOADING">
          <td colspan="6" class="text-center align-middle">
            <br>
            Chargement
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
          </td>
        </tr>
        <ng-container *ngIf="etatBeerRanking == Etatload.SUCCESS">
          <tr *ngFor="let item of rankedBeers; let i = index" routerLink="/bieres/{{item.id}}" class="pointer slide"
            [ngClass]="{
              'first': i == 0,
              'second': i == 1,
              'third' : i == 2
            }">
            <td>
              <span class="bg-transparent" *ngIf="i == 0">{{i + 1}}er</span>
              <span class="bg-transparent" *ngIf="i == 1 || i == 2">{{i + 1}}ème</span>
            </td>
            <td>{{item.nom}}</td>
            <td>{{item.nbNote}}</td>
            <td>{{item.note}}</td>
            <td>{{item.top}}</td>
            <td>{{item.worst}}</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
  <br>

  <!-- classements des zytologues -->
  <div class="card card-info">
    <div class="card-header">
      <div class="card-title">
        Classements des zytologues
        &nbsp;
      </div>
    </div>
    <div class="card-body carte-données">
      <table class="table table-bordered p-2 m-0">
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Nb de notes</th>
          <th>Moyenne</th>
          <th>Meilleur</th>
          <th>Pire</th>
        </tr>
        <tr *ngIf="etatUserRanking == Etatload.LOADING">
          <td colspan="6" class="text-center align-middle">
            <br>
            Chargement
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
          </td>
        </tr>
        <ng-container *ngIf="etatUserRanking == Etatload.SUCCESS">
          <tr *ngFor="let item of rankedUsers; let i = index" routerLink="/personnes/{{item.id}}" class="pointer slide"
            [ngClass]="{
              'first': i == 0,
              'second': i == 1,
              'third' : i == 2
            }">
            <td>
              <span class="bg-transparent" *ngIf="i == 0">{{i + 1}}er</span>
              <span class="bg-transparent" *ngIf="i == 1 || i == 2">{{i + 1}}ème</span>
            </td>
            <td> {{item.nom}} </td>
            <td>{{item.nbNote}}</td>
            <td>{{item.note}}</td>
            <td>{{item.top}}</td>
            <td>{{item.worst}}</td>

          </tr>
        </ng-container>
      </table>
    </div>
  </div>
  <br><br>

</div>