.notes {
  width: 3rem;
  padding: 0.2rem;
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.noteRow  {
  border: 5px solid white;
}

.noteRow td {
  background-color: rgba(255, 255, 255, 0.80);
}