<app-bouton-retour></app-bouton-retour>

<div class="card">
  <div class="card-header">
    <h5 class="card-title">Liste des notes</h5>
  </div>
  <div class="card-body p-0">
    <table class="table p-0 m-0">
      <thead>
        <tr>
          <th class="table-head">Note</th>
          <th class="table-head">Auteur</th>
          <th class="table-head">Biere</th>
          <th class="table-head d-none d-lg-table-cell">Commentaire</th>
          <th class="table-head">Il y a ...</th>
        </tr>
      </thead>
      <tr *ngIf="etatLoad == Etatload.LOADING">
        <td colspan="5" class="text-center align-middle">
          <br />
          Chargement
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </td>
      </tr>
      <tbody *ngIf="etatLoad == Etatload.SUCCESS">
        <tr *ngIf="notes.length == 0">
          <td colspan="5" class="text-center align-middle">
            <br />
            Aucune note pour le moment
            <br /><br />
          </td>
        </tr>
        <tr *ngFor="let note of notes" [routerLink]="['/bieres', note.biereId]" class="pointer slide noteRow"
          [ngClass]="'note-' + Math.floor(note.note)">
          <td>
            <div class="notes" [ngClass]="'note-' + Math.floor(note.note)">
              {{ note.note < 10 ? ('0' + note.note) : note.note }} </div>
          </td>
          <td>{{ usersById?.[note.userId]?.surnom || "Erreur" }}</td>
          <td>{{ bieresById?.[note.biereId]?.nom || "Erreur" }}</td>
          <td class="d-none d-lg-table-cell">{{ note.commentaire }}</td>
          <td>{{ timeSince(note.date) }}</td>
        </tr>
      </tbody>
      <tr *ngIf="etatLoad == Etatload.ERREUR">
        <td colspan="5" class="text-center align-middle">
          <br />
          Erreur de chargement des données
          <br />
          <br />
          <button class="btn btn-primary btn-sm" (click)="reloadPage()">
            <i class="fa-solid fa-rotate"></i> Réessayer
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>