<div class="list-group routineItem">
    <div class="card">
      <div class="card-body"  (mousedown)="OnDetail($event)" >
        <div
          class="card-title"
        >
  
          {{ pizza.name }}
        </div>
        
        <p class="card-text"> {{ pizza.description }}</p>
  
  &nbsp;
           <i routerLink="/admin/pizza/edit/{{pizza.id}}" class="fa-solid fa-pen-to-square"></i> &nbsp;  <i (click)="OnSupprimer()" class="fa-regular fa-trash-can"></i>
        
      </div>
    </div>
  </div>
  
