.day {
    width: 11vw;
    border: 1px red;
    color: green;
    font-weight: bolder;
    font-size: inherit;
    margin-right: 1rem;
}

.item {
    color: whitesmoke;
}


.carte {
    background-color: rgba(255, 255, 255, 0);
    color: whitesmoke;
}

.carte:hover {
    transform: scale(1.1)
}

.map {
    width: 100%;
}

.carte {
  border-radius: 0;
}

.locationItem {
  text-wrap-mode: nowrap;
}

