<div class="list-group locationItem d-flex align-items-center  ">

  <div class="card-body h4 w-75 ">
    <div class="item text-left">
      <span class="day">
        <span *ngIf="!isEditing">{{ location.day }}</span>
        <input *ngIf="isEditing" [(ngModel)]="location.day" type="text" />


      </span>
      <span class="name">
        <span *ngIf="!isEditing">{{ location.name }}</span>
        <input *ngIf="isEditing" [(ngModel)]="location.name" type="text" />

      </span>
      &nbsp;
      <button *ngIf="authService.isAuthenticated()" (click)="toggleEdit()">
        {{ isEditing ? 'Sauvegarder' : 'Éditer' }}
      </button>
      <button *ngIf="!mapClicked" class="carte h4 " (click)="onMap()">
        <span class="d-sm-none">
          <i class="fa-solid fa-map-location-dot"></i>
        </span>
        <span class="d-none d-sm-inline-block">
          Voir la carte
        </span>
      </button>
      <button *ngIf="mapClicked" class="carte h4" (click)="onMap()">
        <span class="d-sm-none">
          <i class="fa-solid fa-xmark"></i>
        </span>
        <span class="d-none d-sm-inline-block">
          Cacher la carte
        </span>
      </button>




    </div>

    <div *ngIf="mapClicked" class="map">
      <br>
      <div [ngSwitch]="location.name">
        <div *ngSwitchCase="'Loubens Lauragais'">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1144.1876811353604!2d1.7837717223072134!3d43.57364642502538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDM0JzI1LjciTiAxwrA0NycwMi42IkU!5e1!3m2!1sfr!2sfr!4v1720483558677!5m2!1sfr!2sfr"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
        <div *ngSwitchCase="'Saint Julia'">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d755.9357887071573!2d1.897212128489181!3d43.4895556108961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDI5JzIyLjYiTiAxwrA1Myc1MS40IkU!5e1!3m2!1sfr!2sfr!4v1720483630427!5m2!1sfr!2sfr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>


        </div>
        <div *ngSwitchCase="'Le Faget'">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1734.4502627415973!2d1.823376712988808!3d43.56719682090058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDM0JzAzLjYiTiAxwrA0OScyOC44IkU!5e1!3m2!1sfr!2sfr!4v1720483599597!5m2!1sfr!2sfr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>


        </div>
        <div *ngSwitchCase="'Maureville'">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3987.6775494689728!2d1.6986204259721454!3d43.52246727972215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDMxJzIxLjMiTiAxwrA0MicwNy41IkU!5e1!3m2!1sfr!2sfr!4v1720482508280!5m2!1sfr!2sfr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>


        </div>
        <div *ngSwitchCase="'Revel'">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2292.7436912057115!2d2.0025959748055113!3d43.458578414549905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ae42a30f025fd3%3A0x5aa88e9d7d4a4a9d!2sHalle%20Centrale%2C%20Gal%20du%20Midi%2C%2031250%20Revel!5e1!3m2!1sfr!2sfr!4v1720483315901!5m2!1sfr!2sfr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>


        </div>
        <div *ngSwitchDefault>

        </div>
      </div>
      <br>
    </div>

  </div>
</div>
