.pointer {
  cursor: pointer;
}

.indent {
  padding-left: 2rem;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.slide {
  transition: 0.4s;

}
.slide:hover {
  transform: translatex(-10px);
}