input {
  border-radius: 5px;
  padding: 0.2rem;
  width: 100%;
}

select {
  border-radius: 5px;
  padding: 0.2rem;
  width: 100%;
}

.note-user {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px ;
    background-color: rgba(245, 245, 245, 0);
}